.btn-group
  %a.btn.btn-primary(href='#')
    %i.icon-user.icon-white
    = nickname
  %a.btn.btn-primary.dropdown-toggle(data-toggle='dropdown' href='#')
    %span.caret
  %ul.dropdown-menu
    %li
      %a(href='/users/#{user_id}/edit#')
        %i.icon-pencil
        Edit
    %li
      %a(href='#')
        %i.icon-trash
        Delete
    %li.divider
    %li
      %a(href='/logout')
        %i.icon-off
        Sign out
