!!! 5
%html(lang="en")
  %head
    %title Bootstrap, from Twitter
    %link{:rel => 'stylesheet', :href => '../css/bootstrap.css', :type => "text/css"}
    %link{:rel => 'stylesheet', :href => '../css/bootstrap-responsive.css', :type => "text/css"}
    %link{:rel => 'stylesheet', :href => '../css/mydocs.css', :type => "text/css"}
    %script(src='http://js.pusher.com/1.11/pusher.min.js')
    /%script(src='../js/prototype.js')
    %script(src='../js/jquery.js')
    %script(src='../js/bootstrap.js')
    /%script(src='../js/bootstrap-tooltip.js')
  %body
    = topbar
    :javascript
      try {
        var pusher = new Pusher('#{pusher_key}')
        var channel = pusher.subscribe('my_channel')
        channel.bind('my_event', function(data) {
          alert('An event was triggerd with message: ' + data.message);
        });
      } catch (ex) {
        alert(ex);
      }
    .container-fluid
      .row-fluid
        .span3
          .well.sidebar-nav
            %ul.nav.nav-list
              %li.nav-header
                Sidebar
              %li.active
                %a(href='/') Link
              %li
                %a(href='/signup') Link
        .span6
          .hero-unit
            %h1 Hello, world!
            %form.form-horizontal.post(action='/tweet' method='post')
              %fieldset
                %legend Inputs
                .control-group
                  %label.control-label(for='tweet') Tweet :
                  .controls
                    %input.input-xlarge(id='tweet' name='post[tweet]' type='text')
                    %p.help-block
                      Input your message above
                .form-actions
                  %button.btn.btn-primary(type='submit') Send
            %p
              "This is a template for a simple marketing or ..."
            %p
              .modal.hide.fade(id='myModal' style='display: none; ')
                .modal-header
                  %a.close(data-dismiss='modal')
                    x
                    %h3 Modal Heading
                .modal-body
                  %h4 Text in a modal
                  %h4 Popover in a modal
                  %p
                    "This "
                    %a.btn.popover-test(href='#' data-content="And here's some amazing content. It's very engaging. right?" data-original-title='A Title') button
                    " should trigger a popover on hover."
                  %h4 Tooltips in a modal
                  %p
                    %a(href='#' rel='tooltip' title='Tooltip') This Link
                    %a(href='#' rel='tooltip' data-original-title='Tooltip') that Link
                    " should have tooltips on hover."
                .modal-footer
                  %a.btn(href='#' data-dismiss='modal') Close
                  %a.btn.btn-primary(href='#') Save Changes
              %a.btn.btn-primary.btn-large(id='myPopover' data-toggle='modal' href='#myModal' rel='popover' data-content='fuck you' data-original-title='I am VAN' onmouseover="$('#myPopover').popover('show')")
                Test Modal
              %br
              %a(href='#' rel='tooltip' id='myTooltip' data-original-title='Tooltip' onmouseover="$('#myTooltip').tooltip('show')") Test Tooltip
              :javascript
                function fun() {
                  $('#myTooltip').tooltip('show')
                }
        .span3
          - if tweets
            %h4 Your Tweets
            - tweets.each do |tweet|
              %p= tweet.message 
    %footer
      %p
        (c) Company 2012
