!!! 5
%html(lang="en")
  %head
    %title= project_name
    %link{:rel => 'stylesheet', :href => '../css/bootstrap.css', :type => "text/css"}
    %link{:rel => 'stylesheet', :href => '../css/bootstrap-responsive.css', :type => "text/css"}
    %link{:rel => 'stylesheet', :href => '../css/mydocs.css', :type => "text/css"}
    %script(src='../js/jquery.js')
    %script(src='../js/bootstrap.js')
  %body
    = topbar
    .container
      .row
    %footer
