- if search_result
  %table.table.table-striped
    %thead
      %tr
        %td
          No.
        %td
          Path
        %td
          Size
        %td
          Update Time
    %tbody
      - file_count = 0
      - search_result.each do |file|
        %tr
          %td
            %p= file_count += 1
          %td
            %p= hbr file['path']
          %td
            %p= hbr file['size']
          %td
            %p= hbr Time.parse(file['modified']).strftime('%a %b %d %X %Y')
