!!! 5
%html(lang="en")
  %head
    %title Dropbox Test
    %link{:rel => 'stylesheet', :href => '../css/bootstrap.css', :type => "text/css"}
    %link{:rel => 'stylesheet', :href => '../css/bootstrap-responsive.css', :type => "text/css"}
    %link{:rel => 'stylesheet', :href => '../css/mydocs.css', :type => "text/css"}
    %script(src='../js/jquery.js')
    %script(src='../js/bootstrap.js')
  %body
    = topbar
    .container
      .row
        .span6
          %form.form-horizontal.post(action='/dropbox/upload' method='post')
            %fieldset
              .control-group
                %label.control-label(for='filename') File Name :
                .controls
                  %input.input-xlarge(id='filename' name='post[filename]' type='text')
              .form-actions
                %button.btn.btn-primary(type='submit') Create
        .span6
          %form.well.form-search(action='/dropbox' method='get')
            %input.input-medium.search-query(id='query' name='query' type='text' placeholder='Input Query...')
            %button.btn(type='submit') Search
          = myfolder
    %footer
      
