!!! 5
%html(lang="en")
  %head
    %title Bootstrap, from Twitter
    %link{:rel => 'stylesheet', :href => '../css/bootstrap.css', :type => "text/css"}
    %link{:rel => 'stylesheet', :href => '../css/bootstrap-responsive.css', :type => "text/css"}
    %link{:rel => 'stylesheet', :href => '../css/mydocs.css', :type => "text/css"}
    %script(src='http://js.pusher.com/1.11/pusher.min.js')
    %script(src='../js/jquery.js')
    %script(src='../js/bootstrap.js')
    %script(src='assets/window_util.js')
    %script(src='assets/message_handler.js')
    /%script(src='assets/test_canvas.js')
    /%script(src='assets/edit_canvas.js')
    %script(src='assets/canvas_app.js')
    %script(src='assets/canvas_editor.js')
    :javascript
      try {
        var canvasApp = {}
        var canvasEditor = {}
        WindowUtil.addOnload(function () {
          canvasApp = new CanvasApp();
          MessageHandler.showDebugMessage('CanvasApp initialized');
          canvasEditor = new CanvasEditor(canvasApp);
          MessageHandler.showDebugMessage('CanvasEditor initialized');
        });

        function getComment() {
          return $("#comment").get(0).value;
        }
      } catch (ex) {
        alert(ex);
      }
  %body
    = topbar
    .container
      .row(id='debugDisplay' style='display:none')
        .alert.fade.in(id='debugDisplayMessage')
      .row(id='warningDisplay' style='display:none')
        .alert.fade.in(id='warningDisplayMessage')
      .row(id='errorDisplay' style='display:none')
        .alert.alert-block.alert-error.fade.in(id='errorDisplayMessage')
      .row(id='testAlert' style='display:none')
        .span6
          /.alert.fade.in(id='testAlertMessage')
          .alert.fade.in
            %strong(id='testAlertMessage')
            %button.close(data-dismiss='alert') x
        :javascript
          function showAlert() {
            try {
              $('#testAlert').get(0).style.display = 'inline';
              $('#testAlertMessage').text('Test')
              //$('#testAlertMessage').append($('<strong>Test</strong>'))
            } catch (ex) {
              alert(ex);
            }
          }
      .row
        .span6
          %canvas(id='front_canvas')
          %canvas(id='back_canvas' style='display:none')
          %br
          %button.btn.btn-primary(style='margin-top: 5px' onclick='canvasApp.clear();') Clear
          %button.btn(onclick='showAlert()') Show Alert
      .row
        .span4
          %table.table
            %tbody
              %tr
                %td
                  %input.input-xlarge(id='comment' type='text' placeholder='Comment')
                %td
                  %button.btn.btn-primary(onclick="canvasEditor.comment(getComment())") Send
                  /%button.btn.btn-primary(onclick="test()") Test
                  /%button.btn.btn-primary(onclick="alert($("#comment").value)") Test
    %footer
