!!! 5
%html(lang="en")
  %head
    %title Camera
    %link{:rel => 'stylesheet', :href => '../css/bootstrap.css', :type => "text/css"}
    %link{:rel => 'stylesheet', :href => '../css/bootstrap-responsive.css', :type => "text/css"}
    %link{:rel => 'stylesheet', :href => '../css/mydocs.css', :type => "text/css"}
    %script(src='http://js.pusher.com/1.11/pusher.min.js')
    %script(src='../js/jquery.js')
    %script(src='../js/bootstrap.js')
    /%script(src='assets/underscore.js')
    /%script(src='assets/backbone.js')
    /%script(src='assets/prototype.js')
    %script(src='assets/window_util.js')
    %script(src='assets/message_handler.js')
    %script(src='assets/camera_app.js')
    %script(src='assets/video_app.js')
    /%script(src='assets/test_video.js')
    /%script(src='assets/test_camera.js')
  %body
    = topbar
    .container
      .row(id='debugDisplay' style='display:none')
        .alert.fade.in(id='debugDisplayMessage')
      .row(id='warningDisplay' style='display:none')
        .alert.fade.in(id='warningDisplayMessage')
      .row(id='errorDisplay' style='display:none')
        .alert.alert-block.alert-error.fade.in(id='errorDisplayMessage')
      - if channel != nil && channel.name != nil
        %h2= channel.name
      .row
        = camera
        = video
    %footer
