!!! 5
%html(lang="en")
  %head
    %title Signup
    %link{:rel => 'stylesheet', :href => '../css/bootstrap.css', :type => "text/css"}
    %link{:rel => 'stylesheet', :href => '../css/bootstrap-responsive.css', :type => "text/css"}
    %link{:rel => 'stylesheet', :href => '../css/mydocs.css', :type => "text/css"}
  %body
    = topbar
    .container
      %section(id='forms')
        .page-header
          %h1 Signup your data
          %small For, you guessed it
        %h2 Horizontal Forms
        .row
          .span8
            %form.form-horizontal.post(action='/signup/confirm' method='post')
              %fieldset
                %legend Inputs
                .control-group
                  %label.control-label(for='login_id') Your Name :
                  .controls
                    %input.input-xlarge(id='login_id' name='post[user_id]' type='text')
                    %p.help-block
                      Input your id above
                  %label.control-label(for='user_name') Your Name :
                  .controls
                    %input.input-xlarge(id='user_name' name='post[user_name]' type='text')
                    %p.help-block
                      Input your name above
                .form-actions
                  %button.btn.btn-primary(type='submit') Submit
          .span4
            - if error_message != ''
              %h2=error_message
/    .fill
/      .container
/        - if error_message != ''
/          .content
/            %h2=error_message
/        .content
/          %form.post(action='/signup/confirm' method='post')
/            %input(name='post[user_id]' type='text')
/            %input(name='post[user_name]' type='text')
/            %input(type='submit' value='Register')
/        .content
/          %footer
/            <p>&copy; Company 2011</p>
