.topbar
  .fill
    .container
      %a{:class => "brand", :href => ""}Project name
      %ul(class="nav")
        %li(class="active")
          %a(href = "/") Home
        %li
          %a(href = "/about") About
        %li
          %a(href = "/") Contact
        %li
          %a(href = "/signup") Signup
