.navbar.navbar-fixed-top
  .navbar-inner
    /.container-fluid
    .container
      /%a.btn.btn-navbar(data-toggle='collapse' data-target='.nav-collapse')
      %a.brand(href='/') This is my sandbox application
      .nav-collapse
        %ul.nav
          %li
            %a(href='/') Home
          %li
            %a(href='/canvas') Canvas
          %li
            %a(href='/camera') Camera
          %li
            %a(href='/about') About
          %li
            %a(href='/contact') Contact
          - if nickname != nil
            %li
              %a(href='/logout') Logout
        - if nickname != nil
          %ul.nav.pull-left
            =dropdown
        - else
          /%a.btn.btn-primary.pull-right(href='/auth/twitter' style='margin-right: 30px')
          %a.btn.btn-primary.pull-right(href='/auth/twitter')
            %i.icon-user.icon-white
            Sign in with twitter account
          /%p.navbar-text.pull-right
          /  %a(href='/auth/twitter') Login with twitter account
