.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar(data-toggle='collapse' data-target='.nav-collapse')
      %a.brand(href='/') Test Bootstrap
      .nav-collapse
        %ul.nav
          %li
            %a(href='/') Home
          %li
            %a(href='/signup') Signup
          %li
            %a(href='/about') About
          %li
            %a(href='/contact') Contact
          - if twitter_user_name != nil
            %li
              %a(href='/logout') Logout
        - if twitter_user_name != nil
          %ul.nav.pull-right
            %li.divider-vertical
            =dropdown
            /%li.dropdown.open
            /  %a.dropdown-toggle(href='#' data-toggle='dropdown')
            /    My Menu
            /    %b.caret
            /  %ul.dropdown-menu
            /    %li
            /      %a(href='/') Menu1
            /    %li
            /      %a(href='/') Menu2
        %p.navbar-text.pull-right
          - if twitter_user_name != nil
            Logged in as
            %a(href='/')= twitter_user_name
          - else
            %a(href='/auth/twitter') Login with twitter account
