.navbar.navbar-fixed-top
  .navbar-inner
    /.container-fluid
    .container
      /%a.btn.btn-navbar(data-toggle='collapse' data-target='.nav-collapse')
      %a.brand(href='/') Sandbox apps :
      .nav-collapse
        %ul.nav
          %li
            %a(href='/') Tweet
          %li
            %a(href='/canvas') Canvas
          %li
            %a(href='/camera') Camera
          %li
            %a(href='/channel') Channel
          %li
            %a(href='/drive') Drive
          %li
            %a(href='/dropbox') Dropbox
          - if nickname != nil
            %li
              %a(href='/logout') Logout
        - if nickname != nil
          %ul.nav.pull-left
            =dropdown
        - else
          %ul.nav.pull-left
            =signin_dropdown
          /%a.btn.btn-primary.pull-right(href='/auth/twitter')
          /  %i.icon-user.icon-white
          /  Sign in with twitter account
          /%a.btn.btn-primary.pull-right(href='/auth/google_oauth2')
          /  %i.icon-user.icon-white
          /  Sign in with google account
